.sidebar_listing {
    margin: 10px 0;
    width: auto;
    cursor: pointer;
    margin: 11px;
    border-radius: 6px;
    transition: 0.6s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar_listing.active {
    background: #2e3192;
    color: #fff;
    margin: 11px;
    transition: 0.6s;
    text-decoration: none;
}

.sidebar_icon {
    min-width: 37px;
    display: flex;
    justify-content: center;
}

.sidebar_icon svg {
    width: 0.9em;
}

.sidebar_listing.active .sidebar_icon svg {
    fill: #fff;
    transition: 0.6s;
    text-decoration: none;
}

.sidebar_text {
    font-size: 0.9rem;
    padding-left: 15px;
    text-decoration: none;
}

.sidebar_link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
}


/* notification page styling */

.notification_box {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #ccc;
    width: 400px;
    z-index: 9;
}

.notification_listing {
    width: 100%;
    background-color: #fff;
    height: 100vh;
    overflow-y: scroll;
}