.sidebar_listing {
    margin: 10px 0;
}

.sidebar_icon {
    min-width: 37px;
    display: flex;
    justify-content: center;
}

.sidebar_icon svg {
    width: 0.9em;
}

.sidebar_text {
    font-size: 0.9rem;
    padding-left: 15px;
}